*__pycache__
*.Rhistory
*.prcp
*.txt
*.ipynb
*.json
*.csv
.DS_Store
.ipynb_checkpoints
*.log
*.zip
*.png
*.yaml
*.pkl
*.swp
*.html
*.raw
*.pdf
*.html
*.tar.gz
*.xpt
.RData
*.geojson
*.xls
*.dta
*.sav
*.sas7bdat
